<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("include/head", { title: '403' }) %>
    <link href="/styles/error.css" rel="stylesheet">
</head>
<body>
    <%- include("include/nav") %>

        <div class="error-container">
            <h1>401</h1>
            <h3>Unauthorized Access :[</h3>
            <p>Oops! You need to log in to access this page. Please check your credentials and try again.</p>
        </div>
    
</body>
</html>
