<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("include/head", { title: '403' }) %>

    <link href="/styles/error.css" rel="stylesheet">
</head>
<body>
    <%- include("include/nav") %>

    <div class="error-container">
        <h1>403</h1>
        <h3>Forbidden Access :[</h3>
        <p>Oops! It looks like you don’t have permission to access this page. Please check if you’re logged in or contact support for assistance.</p>
    </div>
    
</body>
</html>
