<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("include/head", { title: '500' }) %>
    
    <link href="/styles/error.css" rel="stylesheet">
</head>
<body>
    <%- include("include/nav") %>

        <div class="error-container">
            <h1>500</h1>
            <h3>Internal Server Error :[</h3>
            <p>Oops! Something went wrong on our end. We're working to fix it.</p>
        </div>
    
</body>
</html>
