<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("include/head", { title: 'Report Submitted' }) %>
    
    <link href="/styles/report-submitted.css" rel="stylesheet">
</head>
<body>
    <%- include("include/nav") %>

        <div class="container">
            <h1>Report Submitted Successfully!</h1>
            <h3>Thank you for your submission</h3>
            <p>We've received your details. You can check your account for updates on potential matches.</p>
        </div>

        <div class="cta-buttons"></div>
            <a href="/report" class="btn" style="margin-right: 10px;">Submit Another Report</a>
        </div>
    
</body>
</html>
